#post-container .post-wrapper {
    display: block;
    height: 500px;
    color: var(--bs-white);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), var(--post-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: end;
    padding: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}

#post-container .post-title,
#category-post .post-title {
    font-size: 24px;
    text-transform: uppercase;
}

#post-container .post-excerpt,
#category-post .post-excerpt {
    display: -webkit-box;
    font-size: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#post-container .post-button,
#category-post .post-button {
    font-size: 20px;
    padding: 10px 20px;
}

#post-container .post-button:hover,
#category-post .post-button:hover {
    background-color: #1c5639;
    color: var(--bs-white);
    border-color: #1c5639;
}

#post-container .pagination,
#category-post .pagination {
    margin-top: 16px;
}

#post-container .pagination p,
#category-post .pagination p {
    margin: 0;
    margin-right: 16px;
}

#post-container ul.pagination .page-link,
#category-post ul.pagination .page-link {
    border: 1px solid var(--bs-gray-300);
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--bs-white);
    color: var(--bs-black);
    cursor: pointer;
    border-radius: 50%;
}

#post-container ul.pagination .page-item.active .page-link,
#category-post ul.pagination .page-item.active .page-link {
    background-color: #1c5639;
    color: var(--bs-white);
}

#post-detail .post,
#category-bar,
#related-post {
    padding: 30px;
}

#category-bar {
    margin-bottom: 30px;
}

#post-detail .post-image,
#category-post .post-image,
#category-bar .category-image {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#post-detail .post-title,
#related-post .post-title {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#category-bar .title,
#related-post .title {
    font-size: 32px;
    margin-bottom: 30px;
}

#category-bar .category-item {
    display: inline-block;
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 3px;
    margin-bottom: 4px;
    text-align: center;
}

#category-bar p {
    margin: 0;
}

#related-post .post-title,
#related-post .post-date,
#category .post-title {
    color: var(--bs-black);
    margin-bottom: 4px;
}

#related-post .post-item:hover .post-title,
#category .post-title:hover {
    color: #1c5639;
}

#related-post .post-title {
    font-size: 20px;
}

#related-post .post-image {
    width: 100%;
    object-fit: cover;
    margin-top: 4px;
}

#category-post .post-wrapper {
    padding: 30px;
}

#category-post .post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#category-post .post-date {
    margin: 0;
}

@media (max-width: 1200px) {

    #post-container,
    #post-detail,
    #category-post {
        margin-top: 100px;
    }
}
